@import "github-markdown-css/github-markdown-dark.css";

.markdown-body {
  background: transparent;
}

.markdown-body pre {
  background-color: rgba(255, 255, 255, 0.08);
}

.markdown-body ul {
  list-style-type: disc; /* forces bullet dots */
  padding-left: 1.5rem;  /* proper indentation */
}

.markdown-body li {
  margin-bottom: 0.5rem; /* optional spacing between items */
}